.more-wrap{
    height: 500px;
    position: relative;
}
.more-promo{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    grid-template-columns: repeat(2,418px);
    gap: 35px;
    padding-bottom: 30px;
}
.more-block-pretitle{
    color: #1d1d1d;
    font-family: Merienda;
    font-size: 24px;

}
.more-promo .moreImg{
    width: 100%;
    object-fit: cover;
    object-position: 100%;
}
.more-block{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.more-block .beans-line{
    width: 60px;
}
.more-block-info{
    color: #1d1d1d;
    font-family: Merienda;
    font-size: 14px;
    font-weight: 400;
}
.more-block-title {
    margin-bottom: 20px;
}
.more-block-title span:first-child{
    font-weight: 700;
    padding-right: 15px;
}
.more-block-descr{
    margin-bottom: 20px;
}
.more-block-descr span:first-child{
    font-weight: 700;
    padding-right: 15px;
}
.more-block-price{
    font-weight: 700;
}
.more-block-price span:last-child{
    font-size: 24px;
    padding-left: 15px;
}
@media (max-width: 992px){
    .more-promo{
        padding: 0 20px;
        padding-top: 70px;
        grid-template-columns: repeat(2,320px);
    }

}
@media (max-width: 750px){
    .more-promo{
        padding: 0 20px;
        padding-top: 70px;
        grid-template-columns: repeat(2,290px);
        gap: 15px;
        box-sizing: border-box;


        
    }
    
}
@media (max-width: 750px){
    .more-promo{
        display: flex;
        flex-flow: column-reverse; 
        max-width: 100%;
        width: 100%;
    }
    .moreImg{
        max-width: 100%;
        width: 100%;
    }
    }
